@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #FFFFFF;
$font-cormorant: 'Cormorant', serif;
$font-jost: 'Jost', sans-serif;

html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
}
.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8rem;
    }
    &__box {
        flex-basis: 57%;
    }
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link {
        font-weight: 400;
        color: $green;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
            color: $orange;
        }
    }
    &__link_active {
        color: $orange;
    }
    &__tel {
        font-weight: 500;
        letter-spacing: .12rem;
        color: $green;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        background-image: url(../images/cart-white.svg);
        background-color: $orange;
        background-repeat: no-repeat;
        background-size: 1.6rem 1.7rem;
        background-position: center center;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 100%;
        border: 1px solid $orange;
        position: relative;
        transition: .2s ease;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        font-size: .8rem;
        font-weight: 350;
        color: $white;
        position: absolute;
        top: .6rem;
        right: .6rem;
    }
}
.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 12rem;
    height: 3.2rem;
    margin-right: 10px;
}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-bottom: 19rem;
    position: relative;
    z-index: 1;
    &__text {
        padding-top: 4rem;
    }
    &__item {
        margin-left: 12rem;
        margin-top: 6.3rem;
        line-height: 1.46;
        max-width: 378px;
    }
    &__link {
        margin-top: 5.5rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }
    &__cover {
        flex-basis: 760px;
        height: 758px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 658px;
        height: 654px;
        box-shadow: 0 0 0 1px rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
        box-shadow: 25px 30px 35px -8px rgb(39 48 15 / 40%);
        border-radius: 100%;
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        &:hover {			
			&::before {
				background-color: $orange;
				box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }	
        }
        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }
        &_01 {
            top: 44px;
            left: 63px;
            &::before {
                right: -36px;
                bottom: 8px;
            }
        }
        &_02 {
            top: 192px;
            right: 2px;
            &::before {
                top: 18px;
                right: 88px;
            }
        }
        &_03 {
            bottom: -49px;
            right: 244px;
            &::before {
                bottom: 55px;
                right: 31px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, .8);
        padding-bottom: 5px;
        z-index: -1;
    }
    &__tomato {
        position: absolute;
        width: 11rem;
        bottom: 117px;
        right: 132px;
        z-index: -1;
    }
    &__avocado {
        position: absolute;
        width: 17.8rem;
        top: 47px;
        right: 39px;
        z-index: -1;
    }
    &__beans {
        position: absolute;
        width: 10rem;
        bottom: 165px;
        left: 0;
        z-index: -1;
    }
    &__pepper {
        position: absolute;
        width: 8.5rem;
        top: 400px;
        left: 39px;
        z-index: -1;
    }
    &__cucumber {
        position: absolute;
        width: 8.5rem;
        top: 0;
        left: 469px;
        z-index: -1;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 1;
    &__span {
        font-style: italic;
    }
    &__span_after {
        &::after {
            content: '!';
            font-family: $font-cormorant;
            font-style: normal;
        }
    } 
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.4;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
    &__link {
        color: $green;
    }
}
.link {
    color: $white;
    text-transform: uppercase;
    letter-spacing: .13rem;
    padding: 2.1rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 10px 11.18px 1.82px rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    transition: .2s ease;
    border: none;
    &:hover {
        background-color: #bf601f;
    }
    &_min {
        font-size: 1.4rem;
        padding: 2.1rem 3rem;
    }
}
.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 12.3rem;
    &__text {
        max-width: 700px;
        margin-top: 6rem;
    }
}
.slider {
    overflow: hidden;
    padding-top: 97px;
}
.swiper {
    overflow: initial;
    &-slide {
        height: 520px;
        padding: 3.7rem 4rem;
        border: 1px solid rgba(168, 172, 161, .4);
        border-radius: 20px;
        box-sizing: border-box;
        transition: .2s ease;
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        &_white {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            &:hover {
                &::after {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    border-radius: 20px;
                    background-color: rgba($white, .55);
                    z-index: 0;
                }
                .swiper-slide__hidden {
                    height: auto;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 0 3px #a9ac9f inset;
            background-size: 105%;
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            font-weight: 700;
            margin: 0;
            z-index: 1;
        }
        &__hidden {
            overflow: hidden;
            height: 0;
            transition: .2s ease;
            z-index: 1;
        }
        &__text {
            color: rgba($green, .7);
            line-height: 1.5;
            font-size: 1.6rem;
            max-width: 265px;
            margin: 0;
            margin-bottom: 3.5rem;
        }
        &__link {
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .1rem;
            color: $green;
            display: flex;
            justify-content: flex-start;
            gap: 2.2rem;
            align-items: center;
            opacity: .8;
            &::before {
                content: '';
                display: inline-block;
                width: 3rem;
                height: 3rem;
                background-image: url(../images/plus.png);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:hover { 
                opacity: 1;
            }
        }
        &__cover {
            overflow: hidden;
            object-fit: cover;
            width: 100%;
            height: 310px;
            text-align: center;
            margin-bottom: 4.2rem;
        }
        &__image {
            height: 100%;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__description {
            font-size: 1.8rem;
            max-width: 26rem;
            margin: 0;
            margin-top: 1.7rem;
            line-height: 1.5;
            min-height: 55px;
        }
        &__price {
            font-size: 2.4rem;
            margin-top: 2.8rem;
            margin-bottom: 3.3rem;
        }
        &_milk {
            background-image: url(../images/bottle01.png);
        }
        &_groceries {
            background-image: url(../images/dry-food.png);
        }
        &_meat {
            background-image: url(../images/meat.png);
        }
    }
    &-pagination {
        display: none;
    }
    &-button-prev, &-button-next {
        top: -60px;
        color: rgba($green, .4);
        &::after {
            font-size: 1.8rem;
        }
        &:hover {
            color: $green;
        }
    } 
    &-button-prev {
        left: initial;
        right: 74px;
    }
    &-button-next {
        right: -8px;
    }
}
.counter {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    &__btn {
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        border-radius: 100%;
        cursor: pointer;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 20px 11px;
        border: 1px solid $green;
        opacity: .4;
    }
    &__plus {
        background-image: url(../images/plus-counter.svg);
        background-size: 14px 14px;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        border: none;
        max-width: 4.3rem;
        &_min {
            max-width: 3rem;
        }
    }
}
.about {
    background-image: url(../images/about.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 4.5rem;
    padding-bottom: 14.5rem;
    .title {
        letter-spacing: .1rem;
    }
    &__box {
        margin-top: 5.4rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__text {
        margin-left: 12rem;
        flex-basis: 58rem;
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 9rem;
        padding-left: 0;
    }
    &__item {
        font-family: $font-cormorant;
        font-size: 3rem;
        font-weight: 700;
        font-style: italic;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        &::before {
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(39,48,15,.4);
            border-radius: 100%;
            width: 8.5rem;
            height: 8.5rem;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 43px 41px;
        }
        &:first-child::before {
            background-image: url(../images/fruits.png);
        }
        &:nth-child(2)::before {
            background-image: url(../images/traditional.png);
        }
        &:last-child::before {
            background-image: url(../images/good.png);
        }
    }

}
.trends {
    background-image: url(../images/trends.png);
    padding-top: 2.8rem;
    padding-bottom: 12.5rem;
    .slider {
        padding-top: 8.5rem;
    }
    .swiper-slide {
        width: 46.7rem;
        height: 68.5rem;
    }
    &__text {
        margin-top: 4rem;
    }
}
.catalog {
    background-image: url(../images/catalog.png);
    padding-top: 6.6rem;
    &__type {
        display: flex; 
        justify-content: flex-start;
        gap: 2rem;
        margin-bottom: 4.8rem;
        &__btn {
            width: 23rem;
            font-size: 1.8rem;
            border: 1px solid rgba($green, .55);
            background-color: transparent;
            color: rgba($green, .55);
            padding: 24px;
            border-radius: 40px;
            cursor: pointer;
            transition: .2s ease;
            &:hover {
                color: $orange;
                border: 1px solid $orange;
            }
            &-active {
                color: $orange;
                border: 1px solid $orange;
            }
        }
    }
    &__text {
        letter-spacing: .1rem;
        margin-top: 3.8rem;
        margin-bottom: 8.8rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-bottom: 6rem;
    }
    &__item {
        padding: 3rem 2.5rem 4rem 3rem;
        border: 1px solid rgba(168, 172, 161, .4);
        border-radius: 20px;
        box-sizing: border-box;
        transition: .2s ease;
        &:hover {
            box-shadow: 0 0 0 3px #a9ac9f inset;
            background-size: 105%;
        }
        &__cover {
            overflow: hidden;
            object-fit: cover;
            width: 100%;
            height: 203px;
            text-align: center;
        }
        &__image {
            height: 100%;
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            font-weight: 700;
            margin: 0;
            margin-top: 1.6rem;
        }
        &__description {
            color: rgba($green, .7);
            margin-top: 2rem;
            margin-bottom: 1.4rem;
            line-height: 1.4;
            max-width: 90%;
        }
        &__price {
            font-size: 2.4rem;
            margin: 0;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2.4rem;
        }
    }
    &__btn {
        text-transform: uppercase;
        letter-spacing: .1rem;
        border: none;
        background-color: transparent;
        color: $green;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
        opacity: .8;
        &::before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url(../images/refresh.png);
            background-size: 2.5rem 2.5rem;
            background-position: center center;
            background-repeat: no-repeat;
        }
        &:hover {
            opacity: 1;
        }
    }
    padding-bottom: 13.5rem;
}
.delivery {
    background-image: url(../images/delivery.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 14rem;
    &__box {
        margin-top: 7.5rem;
        margin-left: 12rem;
        display: flex;
        gap: 15rem;
        align-items: center;
    }
    &__text {
        max-width: 58rem;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &__order {
        max-width: 47rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.5rem;
        &__discount {
            color: $orange;
        }
    }
    &__list {
        list-style: none;
        padding-left: 0;
        padding-top: 10px;
        display: flex;
        gap: 3rem;
        align-items: center;
    }
    &__item {
        opacity: .4;
        &:hover {
            opacity: 1;
        }
        &:nth-child(1){
            background-image: url(../images/mastercard.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 5.3rem;
            height: 3.2rem;
        }
        &:nth-child(2){
            background-image: url(../images/visa.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 7.4rem;
            height: 2.3rem;
        }
        &:nth-child(3) {
            background-image: url(../images/paypal.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 8.7rem 2.4rem;
            width: 8.7rem;
            height: 2.4rem;
        }
    }
}
.contact {
    background-image: url(../images/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 7.5rem;
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__content {
            padding-top: 1rem;
        }
        &__text {
            max-width: 38rem;
            margin-top: 6.5rem;
            margin-left: 12rem;
        }
        &__form {
            flex-basis: 59rem;
        } 
        &__list {
            list-style: none;
            margin-top: 6rem;
            font-size: 2.4rem;
            padding-left: 0;
            &__item {
                margin-top: 1rem;
            }
        }
        &__link {
            text-decoration: none;
            color: $green;
            font-weight: 500;
            display: flex;
            justify-content: start;
            gap: 3.3rem;
            align-items: center;
            &_phone {
                margin-bottom: 2rem;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 2.9rem;
                    height: 2.5rem;
                    background-image: url(../images/phone.png);
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            &_mail {
                &::before {
                    content: '';
                    display: inline-block;
                    width: 2.9rem;
                    height: 1.9rem;
                    background-image: url(../images/mail.png);
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
        
    }
}
.card {
    border: 2px solid rgba($green, .4);
    border-radius: 20px;
    padding: 3.4rem 5.9rem 4rem;
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem; 
        font-weight: 700;
        margin: 0;
    }
    &__label {
        display: block;
        font-size: 1.2rem;
        margin: 3rem .6rem .8rem;
    }
    &__input {
        display: block;
        width: 100%;
        padding: 2.3rem 3rem;
        border: 1px solid rgba($green, .4);
        border-radius: 20px;
        margin-bottom: 2rem;
        box-sizing: border-box;
        outline: none;
        &:focus {
            border: 1px solid $green;
        }
    }
    &__link {
        margin-top: 2rem;
        padding: 2.3rem 4.8rem;
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        max-width: 36rem;
        margin-top: 1.8rem;
        margin-bottom: 0;
        line-height: 1.4;
    }
    &__docs {
        text-decoration: none;
        color: rgba($green, .6);
        border-bottom: 1px solid #dfe0db;
    }
}