@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #FFFFFF;
$font-cormorant: 'Cormorant', serif;
$font-jost: 'Jost', sans-serif;


/* ------------ Responcive ------------- */
$r_minmob: 320px;
$r_mob: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 767.97px;
$r_desk_900: 900px;
$r_desk: 999.97px;
$r_desk_1100: 1100px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_1450: 1450px;
$r_desk_1650: 1650px;


html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
    @media (max-width: $r_tab) {
        max-width: 600px;
    }
}
.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:$r_desk_900) {
        padding-top: 1.5rem;
    }
    @media (max-width: $r_tab) {
        margin-bottom: 4rem;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8rem;
    }
    &__box {
        flex-basis: 57%;
        transition: left .2s linear;
        @media (max-width: $r_desk_1350) {
            flex-basis: auto;
        }
        @media (max-width: $r_desk_900) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba($green, .2);
            z-index: 1;
        }
        &:target &__box {
            left: -100%;
        }
    }
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
        @media (max-width: $r_desk_1350) {
           gap: 2.5rem;
        }
        @media (max-width: $r_desk_900) {
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           padding-top: 4rem;
           padding-bottom: 4rem;
           background-color: $white;
        }
    }
    &__link {
        font-weight: 400;
        color: $green;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
            color: $orange;
        }
    }
    &__link_active {
        color: $orange;
    }
    &__tel {
        font-weight: 500;
        letter-spacing: .12rem;
        color: $green;
        text-decoration: none;
        transition: .2s ease;
        @media (max-width: $r_desk_hd) {
            display: none;
        }
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        background-image: url(../images/cart-white.svg);
        background-color: $orange;
        background-repeat: no-repeat;
        background-size: 1.6rem 1.7rem;
        background-position: center center;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 100%;
        border: 1px solid $orange;
        position: relative;
        transition: .2s ease;
        cursor: pointer;
        @media (max-width: $r_desk_hd) {
            background-color: $white;
            border: 1px solid $green;
            background-image: url(../images/cartmobi.svg);
            opacity: .8;
        }
        @media (max-width: $r_tab) {
            width: 3.6rem;
            height: 3.6rem;
            background-size: 50%;
        }
        &:hover {
            background-color: $green;
            border: 1px solid $green;
            @media (max-width: $r_desk_hd) {
                background-color: $white;
                opacity: 1;
            }
        }
    }
    &__counter {
        font-size: .8rem;
        font-weight: 350;
        color: $white;
        position: absolute;
        top: .6rem;
        right: .6rem;
        @media (max-width: $r_desk_hd) {
            color: $green;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        z-index: 1;
    }
    &__phone, &__menu {
        display: none;
    }
    &__phone {
        background-image: url(../images/telephone.svg);
        background-color: $white;
        background-repeat: no-repeat;
        background-size: 1.6rem 1.7rem;
        background-position: center center;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 100%;
        border: 1px solid $green;
        position: relative;
        transition: .2s ease;
        opacity: .8;
        @media (max-width: $r_desk_hd) {
            display: block;
        }
        @media (max-width: $r_tab) {
            width: 3.6rem;
            height: 3.6rem;
            background-size: 50%;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__menu_open {
        display: none;
        background-image: url(../images/burger.svg);
        background-color: $white;
        background-repeat: no-repeat;
        background-size: 1.6rem 1.7rem;
        background-position: center center;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 100%;
        border: 1px solid $green;
        position: relative;
        transition: .2s ease;
        opacity: .8;
        cursor: pointer;
        @media (max-width: $r_desk_900) {
            display: block;
        }
        @media (max-width: $r_tab) {
            width: 3.6rem;
            height: 3.6rem;
            background-size: 50%;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__menu_close {
        display: none;
        background-color: $white;
        background-repeat: no-repeat;
        background-size: 1.6rem 1.7rem;
        background-position: center center;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 100%;
        border: 1px solid $green;
        position: relative;
        transition: .2s ease;
        opacity: .8;
        cursor: pointer;
        &::before {
            content: '';
            width: 25px;
            height: 2px;
            position: absolute;
            top: 18px;
            left: 6px;
            background-color: $green;
            transform: rotate(45deg);
            @media (max-width: $r_tab) {
                width: 20px;
                top: 17px;
                left: 8px;
            }
        }
        &::after {
            content: '';
            width: 25px;
            height: 2px;
            position: absolute;
            top: 18px;
            left: 6px;
            background-color: $green;
            transform: rotate(-45deg);
            @media (max-width: $r_tab) {
                width: 20px;
                top: 17px;
                left: 8px;
            }
        }
        @media (max-width: $r_tab) {
            width: 3.6rem;
            height: 3.6rem;
        }
        &:hover {
            opacity: 1;
        }
    }
    &:target &__box {   
        top: 0;
        left: 0;
    }
    &:target &__menu_open {
        display: none;
    }
    &:target &__menu_close {
        display: block;
    }
}
.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 12.3rem;
    height: 3.2rem;
    margin-right: 10px;
    transform: scale(1);
    transition: .2s ease;
    @media (max-width: $r_tab) {
        width: 10rem;
        height: 2.5rem;
    }
    &:hover {
        transform: scale(1.13)
    }
    &_footer {
        width: 18rem;
        height: 4.7rem;
        @media (max-width: $r_desk) {
            width: 16rem;
            height: 4.2rem;
        }
        @media (max-width: $r_desk_900) {
            width: 12rem;
            height: 3.15rem;
        }
    }
}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-bottom: 18.5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @media (max-width:$r_desk_1100) {
        padding-bottom: 9rem;
    }
    @media (max-width:$r_tab) {
        padding-bottom: 3.5rem;
    }
    &__text {
        padding-top: 3rem;
        @media (max-width: $r_tab) {
            padding-top: 0;
        }
    }
    &__item {
        margin-left: 12rem;
        margin-top: 6.3rem;
        line-height: 1.46;
        max-width: 378px;
        @media (max-width: $r_desk_hd) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1100) {
            margin-top: 3.3rem;
            margin-left: 0;
        }
        @media (max-width: $r_tab) {
            max-width: 100%;
            margin: 2rem auto;
        }
    }
    &__link {
        margin-top: 5.5rem;
        @media (max-width: $r_desk_1100) {
            margin-top: 2.5rem;
        }
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        @media (max-width: $r_desk_1100) {
            padding-top: 2rem;
        }
        @media (max-width: $r_tab) {
            display: block;
        }
    }
    &__cover {
        flex-basis: 760px;
        height: 760px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $r_desk_1350) {
            flex-basis: 700px;
            height: 700px;
        }
        @media (max-width: $r_desk_1280) {
            flex-basis: 630px;
            height: 630px;
        }
        @media (max-width: $r_desk_hd) {
            flex-basis: 555px;
            height: 555px;  
        }
        @media (max-width: $r_desk_1100) {
            border: none;
            max-width: 555px;
            flex-basis: calc(100% - 395px);
            height: auto;
        }
        @media (max-width: $r_tab) {
            display: none;
        }
    }
    &__line {
        width: 658px;
        height: 654px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $r_desk_1350) {
            width: 625px;
            height: 625px;
        }
        @media (max-width: $r_desk_1280) {
            width: 550px;
            height: 550px;
        }
        @media (max-width: $r_desk_hd) {
            border: 1px solid transparent;
            width: auto;
            height: auto;
        }
    }
    &__image {
        width: 92%;
        border-radius: 100%;
        -webkit-animation: shadow 3s linear infinite;
                animation: shadow 3s linear infinite;
        &_mobi {
            display: none;
            @media (max-width: $r_tab) {
                display: block;
                width: 80%;
                margin: 2.5rem auto 0;
            }
        }
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        @media (max-width: $r_desk_1100) {
            display: none;
        }
        &:hover {			
            &::before {
                background-color: $orange;
				box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }	
        }
        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
            transition: .2s ease;
        }
        &_01 {
            top: 44px;
            left: 63px;
            &::before {
                right: -36px;
                bottom: 8px;
            }
            @media (max-width: $r_desk_1350) {
                top: 35px;
            }
            @media (max-width: $r_desk_1280) {
                left: 35px;
            }
            @media (max-width: $r_desk_hd) {
                top: 27px;
                left: 20px;
            }
        }
        &_02 {
            top: 192px;
            right: 2px;
            &::before {
                top: 18px;
                right: 88px;
            }
            @media (max-width: $r_desk_1350) {
                top: 145px;
            }
            @media (max-width: $r_desk_1280) {
                right: -13px;
            }
            @media (max-width: $r_desk_hd) {
                top: 58px;
            }
            @media (max-width: $r_desk_1100) {
                top: 61px;
            }
        }
        &_03 {
            bottom: -49px;
            right: 244px;
            &::before {
                bottom: 55px;
                right: 31px;
            }
            @media (max-width: $r_desk_1350) {
               bottom: -54px;
            }
            @media (max-width: $r_desk_1280) {
                bottom: -60px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, .8);
        padding-bottom: 5px;
        z-index: -1;
    }
    &__tomato {
        position: absolute;
        width: 11rem;
        bottom: 117px;
        right: 132px;
        z-index: -1;
        @media (max-width: $r_desk_1350) {
            right: 50px;
        }
        @media (max-width: $r_desk_hd) {
            right: 0;
        }
        @media (max-width: $r_desk_1100) {
            bottom: 30px;
        }
        @media (max-width: $r_tab) {
            top: 75px;
            left: -15px;
        }
        @media (max-width: $r_mob_600) {
            width: 8rem;
        }
        @media (max-width: $r_mob_500) {
            width: 6rem;
        }
    }
    &__avocado {
        position: absolute;
        width: 17.8rem;
        top: 47px;
        right: 39px;
        z-index: -1;
        @media (max-width: $r_desk_1650) {
            width: 10rem;
            top: 115px;
        }
        @media (max-width: $r_desk_hd) {
            width: 8rem;
            top: 100px;
            right: 0;
        }
        @media (max-width: $r_tab) {
            right: -40px;
        }
        
    }
    &__beans {
        position: absolute;
        width: 10rem;
        bottom: 165px;
        left: 0;
        z-index: -1;
        @media (max-width:$r_desk_1100) {
           bottom: 135px;
        }
        @media (max-width: $r_desk_1100) {
            bottom: 0;
        }
        @media (max-width: $r_tab) {
            top: 600px;
        }
        @media (max-width: $r_mob_500) {
            display: none;
        }

    }
    &__pepper {
        position: absolute;
        width: 8.5rem;
        top: 400px;
        left: 39px;
        z-index: -1;
        @media (max-width: $r_desk_1650) {
            display: none;
        }
    }
    &__cucumber {
        position: absolute;
        width: 8.5rem;
        top: 0;
        left: 469px;
        z-index: 0;
        @media (max-width: $r_tab) {
            top: 500px;
            left: calc(100% - 38px);
            transform: rotate(90deg);
            width: 5rem;
        }
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 1;
    &__span {
        font-style: italic;
    }
    &__span_after {
        &::after {
            content: '!';
            font-family: $font-cormorant;
            font-style: normal;
        }
    } 
    &_block {
        .title__span {
            display: block;
        }
    }
    @media (max-width: $r_desk_1280) {
        font-size: 7rem;
    }
    @media (max-width: $r_desk_1100) {
        font-size: 6rem;
    }
    @media (max-width: $r_desk_900) {
        text-align: center;
    }
    @media (max-width:$r_tab) {
        font-size: 5rem;
    }
    @media (max-width:$r_mob_500) {
        font-size: 4rem;
    }
    @media (max-width:$r_mob_400) {
        font-size: 3rem;
    }

}
.description {
    margin: 0;
    line-height: 1.4;
    @media (max-width: $r_desk_900) {
        text-align: center;
    }
    &_size-s {
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280) {
            font-size: 1.7rem;
        }
        @media (max-width: $r_desk_1100) {
            font-size: 1.6rem;
        }
        @media (max-width:$r_tab) {
            font-size: 1.5rem;
        }
        @media (max-width:$r_mob_600) {
            font-size: 1.4rem;
        }
        @media (max-width:$r_mob_500) {
            font-size: 1.2rem;
        }
    }
    &_size-m {
        font-size: 2.4rem;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_desk_1100) {
            font-size: 2rem;
        }
        @media (max-width:$r_tab) {
            font-size: 1.8rem;
        }
        @media (max-width:$r_mob_600) {
            font-size: 1.5rem;
        }
        @media (max-width:$r_mob_500) {
            font-size: 1.2rem;
        }
    }
    &__link {
        color: $green;
    }
}
.link {
    color: $white;
    text-transform: uppercase;
    letter-spacing: .13rem;
    padding: 2.1rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 10px 11.18px 1.82px rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    transition: .2s ease;
    border: none;
    &:hover {
        background-color: #bf601f;
    }
    /* ----------responsive link ---------------  */
    @media (max-width: $r_desk_1280) {
        font-size: 1.5rem;
    }
    @media (max-width: $r_desk_1100) {
        font-size: 1.4rem;
    }
    @media (max-width:$r_tab) {
        font-size: 1.3rem;
    }
    @media (max-width:$r_mob_400) {
        font-size: 1.2rem;
    }
    &_min {
        font-size: 1.4rem;
        padding: 2.1rem 3rem;
        @media (max-width: $r_desk_1280) {
            padding: 2rem 0;
            flex: 1 1 100%;
            text-align: center;
        }
        @media (max-width: $r_desk_1100) {
            padding: 1.7rem 0;
        }
        @media (max-width: $r_tab) {
            padding: 1.5rem 0;
            font-size: 1.2rem;
        }
        @media (max-width: $r_mob_600) {
            font-size: 1rem;
            padding: 1rem 0;
        }
        @media (max-width: $r_mob_500) {
            
        }
    }
    &_md {
        @media (max-width: $r_desk_1650) {
            padding: 2.1rem 3.9rem;
        }
        @media (max-width: $r_desk_1280) {
            padding: 2rem 0;
            flex: 1 1 100%;
            text-align: center;
        }
        @media (max-width:$r_desk_hd) {
            padding: 1.5rem 0;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1rem;
        }
    }
}
.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 12.3rem;
    @media (max-width: $r_desk_1100) {
        padding-bottom: 7rem;
    }
    @media (max-width: $r_desk_900) {
        padding-bottom: 3rem;
    }
    &__text {
        max-width: 700px;
        margin-top: 6rem;
        @media (max-width:$r_desk_900) {
            margin: 6rem auto 0;
        }
    }
}
.slider {
    overflow: hidden;
    padding-top: 97px;
    padding-bottom: 5rem;
    @media (max-width: $r_tab) {
        max-width: 70%;
        margin: 0 auto;

    }
}
.swiper {
    overflow: initial;
    &-slide {
        height: 520px;
        padding: 3.7rem 4rem;
        border: 1px solid rgba(168, 172, 161, .4);
        border-radius: 20px;
        box-sizing: border-box;
        transition: .2s ease;
        background-position: center center;
        background-size: 100%;
        -o-object-fit: contain;
           object-fit: contain;
        background-repeat: no-repeat;
        @media (max-width: $r_desk_1350) {
            padding: 2rem;
        }
        &_white {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: contain;
            @media (max-width:$r_desk) {
                height: 500px;
            }
            @media (max-width:$r_tab) {
                height: 400px;
            }
            &:hover {
                &::after {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    border-radius: 20px;
                    background-color: rgba($white, .55);
                    z-index: 0;
                }
                .swiper-slide__hidden {
                    height: auto;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 0 3px #a9ac9f inset;
            background-size: 105%;
            @media (max-width: $r_tab) {
                background-size: contain;
            }
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            font-weight: 700;
            margin: 0;
            z-index: 1;
            &_center {
                @media (max-width:$r_tab) {
                    text-align: center;
                } 
            }
            @media (max-width: $r_desk_1280) {
                font-size: 2.7rem;
            }
            @media (max-width: $r_desk_1100) {
                font-size: 2.3rem;
            }
            @media (max-width:$r_tab) {
                font-size: 1.9rem;
            }
            @media (max-width:$r_mob_600) {
                font-size: 1.6rem;
            }
            @media (max-width:$r_mob_500) {
                font-size: 1.4rem;
            }
        }
        &__hidden {
            overflow: hidden;
            height: 0;
            transition: .2s ease;
            z-index: 1;
        }
        &__text {
            color: rgba($green, .7);
            line-height: 1.5;
            font-size: 1.6rem;
            max-width: 265px;
            margin: 0;
            margin-bottom: 3.5rem;
            @media (max-width: $r_desk_1280) {
                font-size: 1.5rem;
            }
            @media (max-width: $r_desk_1100) {
                font-size: 1.4rem;
            }
            @media (max-width:$r_tab) {
                font-size: 1.3rem;
            }
            @media (max-width:$r_mob_600) {
                font-size: 1.2rem;
            }
            @media (max-width:$r_mob_500) {
                font-size: 1rem;
            }
        }
        &__link {
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .1rem;
            color: $green;
            display: flex;
            justify-content: flex-start;
            gap: 2.2rem;
            align-items: center;
            opacity: .8;
            @media (max-width: $r_desk_1280) {
                font-size: 1.5rem;
            }
            @media (max-width: $r_desk_1100) {
                font-size: 1.4rem;
            }
            @media (max-width:$r_tab) {
                font-size: 1.2rem;
            }
            @media (max-width: $r_mob_400) {
                font-size: 1rem;
            }
            &::before {
                content: '';
                display: inline-block;
                width: 3rem;
                height: 3rem;
                background-image: url(../images/plus.png);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                @media (max-width:$r_tab) {
                    width: 2.5rem;
                    height: 2.5rem;
                }
                @media (max-width:$r_mob_500) {
                    width: 2rem;
                    height: 2rem;
                }
            }
            &:hover { 
                opacity: 1;
            }
        }
        &__cover {
            overflow: hidden;
            -o-object-fit: cover;
               object-fit: cover;
            width: 100%;
            height: 310px;
            text-align: center;
            margin-bottom: 4.2rem;
            @media (max-width:$r_mob_600) {
                margin-bottom: 2rem;
                height: 50%;
            }
            @media (max-width:$r_mob_500) {
                margin-bottom: 0;
                height: 40%;
            }
            @media (max-width:$r_mob_400) {
                height: 30%;
            }
        }
        &__image {
            height: 100%;
            width: 100%;
            max-width: 350px;
            -o-object-fit: contain;
               object-fit: contain;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width:$r_desk_1350) {
                gap: 1.5rem;
            }
        }
        &__description {
            max-width: 26rem;
            margin: 0;
            margin-top: 1.7rem;
            line-height: 1.5;
            min-height: 55px;
            color: rgba($green, .7);
            @media (max-width: $r_tab) {
                color: rgba($green, .4);
                text-align: center;
                margin: 1.7rem auto 0;
            }
            @media (max-width:$r_mob_500) {
                font-size: 1.4rem;
            }
        }
        &__price {
            font-size: 2.4rem;
            margin-top: 2.8rem;
            margin-bottom: 3.3rem;
            @media (max-width: $r_desk_1280) {
                font-size: 2.2rem;
            }
            @media (max-width: $r_desk_1100) {
                font-size: 2rem;
            }
            @media (max-width:$r_tab) {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 0;
                margin-bottom: 1.5rem;
            }
            @media (max-width:$r_mob_600) {
                font-size: 1.5rem;
            }
            @media (max-width:$r_mob_500) {
                font-size: 1.4rem;
            }
        }
        &_milk {
            background-image: url(../images/bottle01.png);
        }
        &_groceries {
            background-image: url(../images/dry-food.png);
        }
        &_meat {
            background-image: url(../images/meat.png);
        }
    }
    &-pagination {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
        }
    }
    .swiper-pagination-bullets {
        @media (max-width: $r_tab) {
            bottom: -50px;
        }
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
    .swiper-pagination-bullet-active {
        background-color: $orange;
        width: 10px;
        height: 10px;   
    }
    &-button-prev, &-button-next {
        top: -60px;
        color: rgba($green, .4);
        @media (max-width: $r_tab) {
            display: none;
        }
        &::after {
            font-size: 1.8rem;
        }
        &:hover {
            color: $green;
        }
    } 
    &-button-prev {
        left: initial;
        right: 74px;
    }
    &-button-next {
        right: -8px;
    }
}
.counter {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    @media (max-width:$r_desk_hd) {
        margin-top: 0;
    }
    @media (max-width:$r_mob_500) {
        display: none;
    }
    &__btn {
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        border-radius: 100%;
        cursor: pointer;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        @media (max-width:$r_desk_hd) {
            width: 40px;
            height: 40px;
        }
        &_min {
            width: 40px;
            height: 40px;
            @media (max-width:$r_desk_1100) {
                width: 30px;
                height: 30px;
            }
            @media (max-width:$r_tab) {
                width: 25px;
                height: 25px;
            }
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 20px 11px;
        opacity: .4;
    }
    &__plus {
        background-image: url(../images/plus-counter.svg);
        background-size: 14px 14px;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        border: none;
        max-width: 4.3rem;
        &_min {
            max-width: 3rem;
        }
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_desk_1100) {
            font-size: 2rem;
        }
        @media (max-width:$r_tab) {
            font-size: 1.8rem;
        }
        @media (max-width:$r_mob_600) {
            font-size: 1.5rem;
            max-width: 2rem;
        }
    }
}
.about {
    background-image: url(../images/about.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 4.5rem;
    padding-bottom: 14.5rem;
    @media (max-width: $r_desk_1100) {
        padding-top: 3rem;
        padding-bottom: 10rem;
    }
    .title {
        letter-spacing: .1rem;
    }
    &__box {
        margin-top: 5.4rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @media (max-width: $r_desk_900) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 4rem;
            margin-top: 4rem;
        }
    }
    &__text {
        margin-left: 12rem;
        flex-basis: 58rem;
        @media (max-width: $r_desk_hd) {
            margin-left: 0;
            flex-basis: 50%;
        }
        @media (max-width: $r_desk_900) {
            flex-basis: 80%;
        }
        @media (max-width: $r_mob_500) {
            flex-basis: 100%;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 9rem;
        padding-left: 0;
        @media (max-width: $r_desk) {
            gap: 5rem;
            flex-basis: 45%;
        }
        @media (max-width: $r_desk_900) {
            flex-basis: 50.1%;
        }
    }
    &__item {
        font-family: $font-cormorant;
        font-size: 3rem;
        font-weight: 700;
        font-style: italic;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        -webkit-animation: pulse .5s linear infinite;
                animation: pulse .5s linear infinite;
        -webkit-animation-direction: alternate;
                animation-direction: alternate;
        -webkit-animation-delay: 3s;
                animation-delay: 3s;
        @media (max-width: $r_desk_1280) {
            font-size: 2.7rem;
        }
        @media (max-width: $r_desk_1100) {
            font-size: 2.3rem;
        }
        @media (max-width:$r_tab) {
            font-size: 1.9rem;
        }
        @media (max-width:$r_mob_600) {
            font-size: 1.6rem;
        }
        @media (max-width:$r_mob_500) {
            font-size: 1.4rem;
        }
        &::before {
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(39,48,15,.4);
            border-radius: 100%;
            width: 8.5rem;
            height: 8.5rem;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 43px 41px;
        @media (max-width: $r_tab) {
            width: 6rem;
            height: 6rem;
            background-size: 31px 27px;
        }
        }
        &:first-child::before {
            background-image: url(../images/fruits.png);
        }
        &:nth-child(2)::before {
            background-image: url(../images/traditional.png);
        }
        &:last-child::before {
            background-image: url(../images/good.png);
        }
    }

}
.trends {
    background-image: url(../images/trends.png);
    padding-top: 2.8rem;
    padding-bottom: 12.5rem;
    @media (max-width:$r_desk_hd) {
        padding-bottom: 7rem;
    }
    @media (max-width:$r_desk_900) {
        padding-bottom: 3rem;
    }
    .slider {
        padding-top: 8.5rem;
    }
    .swiper-slide {
        width: 46.7rem;
        height: 68.5rem;
        @media (max-width:$r_desk_1350) {
            height: 66.5rem;
        }
        @media (max-width:$r_desk_1280) {
            height: 64.5rem;
        }
        @media (max-width:$r_tab) {
            height: 58.5rem;
        }
        @media (max-width:$r_mob_600) {
            height: 44.5rem;
        }
        @media (max-width:$r_mob_500) {
            height: 33.5rem;
        }
        @media (max-width:$r_mob_400) {
            height: 30rem;
        }
    }
    &__text {
        margin-top: 4rem;
    }
}
.catalog {
    background-image: url(../images/catalog.png);
    padding-top: 6.6rem;
    padding-bottom: 13.7rem;
    @media (max-width:$r_desk_1100) {
        padding-top: 3rem;
        padding-bottom: 7rem;
    }
    &__box {
        @media (max-width:$r_tab) {
            overflow: hidden;
            max-height: 10rem;
        }
    }
    &__type {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 5rem;
        @media (max-width:$r_tab) {
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            padding-bottom: 6rem;
            gap: 1.5rem;
        }
        &__btn {
            min-width: 23rem;
            text-align: center;
            border: 1px solid rgba($green, .55);
            background-color: transparent;
            color: rgba($green, .55);
            padding: 2.4rem;
            border-radius: 40px;
            cursor: pointer;
            transition: .2s ease;
            @media (max-width:$r_desk_1280) {
                min-width: 22rem;
            }
            @media (max-width:$r_desk_1100) {
                padding: 2rem;
            }
            @media (max-width:$r_desk) {
                padding: 1.7rem;
            }
            @media (max-width:$r_tab) {
                min-width: 19rem;
            }
            @media (max-width:$r_mob_600) {
                min-width: 18rem;
                padding: 1.5rem;
            }
            @media (max-width:$r_mob_500) {
                min-width: 16rem;
            }
            &:hover {
                color: $orange;
                border: 1px solid $orange;
            }
            &-active {
                color: $orange;
                border: 1px solid $orange;
            }
        }
    }
    &__text {
        letter-spacing: .1rem;
        margin-top: 3.8rem;
        margin-bottom: 8.8rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-bottom: 5.8rem;
        @media (max-width: $r_desk_1450) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $r_desk) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $r_tab) {
                gap: 1.5rem;
        }
        @media (max-width: $r_mob_500) {
                gap: 1rem;
        }
    }
    &__item {
        padding: 3rem 2.5rem 4rem 3rem;
        border: 1px solid rgba(168, 172, 161, .4);
        border-radius: 20px;
        box-sizing: border-box;
        transition: .2s ease;
        @media (max-width: $r_desk_1450) {
            padding: 3rem 2.5rem 4rem;
        }
        @media (max-width: $r_mob_600) {
            padding: 2.5rem 2rem;
        }
        @media (max-width: $r_mob_500) {
            padding: 1.5rem 1rem;
        }
        &:nth-last-child(-n+2) {
            @media (max-width: $r_desk_1100) {
                display: none;
            }
        }
        &:nth-last-child(-n+4) {
            @media (max-width: $r_tab) {
                display: none;
            }
        }
        &:hover {
            box-shadow: 0 0 0 3px #a9ac9f inset;
            background-size: 105%;
        }
        &__cover {
            overflow: hidden;
            -o-object-fit: cover;
               object-fit: cover;
            width: 100%;
            height: 203px;
            text-align: center;
            @media (max-width:$r_tab) {
                height: 170px;
            }
            @media (max-width:$r_mob_600) {
                height: 135px;
            }
            @media (max-width:$r_mob_500) {
                height: 100px;
            }
            @media (max-width:$r_mob_400) {
                height: 60px;
            }
        }
        &__image {
            max-width: 188px;
            max-height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            @media (max-width:$r_tab) {
                max-height: 170px;
            }
            @media (max-width:$r_mob_600) {
                max-height: 135px;
            }
            @media (max-width:$r_mob_500) {
                max-height: 100px;
            }
            @media (max-width:$r_mob_400) {
                height: 60px;
            }
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            font-weight: 700;
            margin: 0;
            margin-top: 1.6rem;
            @media (max-width: $r_desk_1280) {
                font-size: 2.7rem;
            }
            @media (max-width: $r_desk_1100) {
                font-size: 2.3rem;
            }
            @media (max-width:$r_tab) {
                font-size: 1.9rem;
                text-align: center;
            }
            @media (max-width:$r_mob_600) {
                font-size: 1.6rem;
            }
            @media (max-width:$r_mob_500) {
                font-size: 1.4rem;
            }
        }
        &__description {
            color: rgba($green, .7);
            margin-top: 2rem;
            margin-bottom: 1.4rem;
            line-height: 1.4;
            max-width: 90%;
            height: 45px;
            @media (max-width: $r_desk_1280) {
                font-size: 1.5rem;
            }
            @media (max-width: $r_desk_1100) {
                font-size: 1.4rem;
            }
            @media (max-width:$r_tab) {
                font-size: 1.2rem;
                text-align: center;
                margin: 1rem auto 0;
            }
            @media (max-width: $r_mob_400) {
                font-size: 1rem;
            }
        }
        &__price {
            font-size: 2.4rem;
            margin: 0;
            @media (max-width: $r_desk_1280) {
                font-size: 2.2rem;
            }
            @media (max-width: $r_desk_1100) {
                font-size: 2rem;
            }
            @media (max-width:$r_tab) {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }
            @media (max-width:$r_mob_600) {
                font-size: 1.5rem;
            }
            @media (max-width:$r_mob_500) {
                font-size: 1.4rem;
            }
            @media (max-width:$r_mob_400) {
                margin-top: 0;
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;
            align-items: center;
            margin-top: 2.4rem;
        }
    }
    &__btn {
        text-transform: uppercase;
        letter-spacing: .1rem;
        border: none;
        background-color: transparent;
        color: $green;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
        opacity: .8;
        @media (max-width: $r_desk_1280) {
            font-size: 1.5rem;
        }
        @media (max-width: $r_desk_1100) {
            font-size: 1.4rem;
        }
        @media (max-width:$r_tab) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1rem;
        }
        &::before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url(../images/refresh.png);
            background-size: 2.5rem 2.5rem;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: $r_tab) {
                width: 20px;
                height: 20px;
            }
        }
        &:hover {
            opacity: 1;
        }
    }
}
.delivery {
    background-image: url(../images/delivery.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 11rem;
    &__box {
        margin-top: 7.5rem;
        margin-left: 12rem;
        display: flex;
        gap: 15rem;
        align-items: center;
        @media (max-width:$r_desk_hd) {
            margin-left: 10rem;
        }
        @media (max-width: $r_desk) {
            margin-left: 6rem;
        }
        @media (max-width: $r_desk_900) {
            margin: 5rem auto 0;
        }
        @media (max-width: $r_tab) {
           flex-wrap: wrap;
           justify-content: center;
           gap: 4rem;
        }
    }
    &__text {
        max-width: 58rem;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @media (max-width:$r_tab) {
        padding-bottom: 0;
        gap: 2.5rem;
        }
    }
    &__description {
        text-align: left;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__order {
        max-width: 47rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.5rem;
        &__discount {
            color: $orange;
        }
        @media (max-width:$r_desk_900) {
            flex: 1 1 auto;
        }
        @media (max-width: $r_tab) {
            align-items: center;
        }
    }
    &__list {
        list-style: none;
        padding-left: 0;
        padding-top: 10px;
        display: flex;
        gap: 3rem;
        align-items: center;
        @media (max-width:$r_tab) {
            gap: 2.6rem;
        }
        @media (max-width:$r_mob_500) {
            gap: 2.2rem;
        }
    }
    &__item {
        opacity: .4;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .2s ease;
        &:hover {
            opacity: 1;
        }
        &:nth-child(1){
            background-image: url(../images/mastercard.png);
            width: 5.3rem;
            height: 3.2rem;
            @media (max-width:$r_tab) {
                width: 4.9rem;
                height: 2.95rem;
            }
            @media (max-width:$r_mob_600) {
                width: 4.5rem;
                height: 2.7rem;
            }
            @media (max-width:$r_mob_500) {
                width: 4.1rem;
                height: 2.45rem;
            }
            @media (max-width:$r_mob_400) {
                width: 3.8rem;
                height: 2.3rem;;
            }
        }
        &:nth-child(2){
            background-image: url(../images/visa.png);
            width: 7.4rem;
            height: 2.3rem;
            @media (max-width:$r_tab) {
                width: 6.85rem;
                height: 2.15rem;
            }
            @media (max-width:$r_mob_600) {
                width: 6.3rem;
                height: 2rem;
            }
            @media (max-width:$r_mob_500) {
                width: 5.8rem;
                height: 1.85rem;
            }
            @media (max-width:$r_mob_400) {
                width: 5.3rem;
                height: 1.7rem;;
            }
        }
        &:nth-child(3) {
            background-image: url(../images/paypal.png);
            width: 8.7rem;
            height: 2.4rem;
            @media (max-width:$r_tab) {
                width: 8.1rem;
                height: 2.2rem;
            }
            @media (max-width:$r_mob_600) {
                width: 7.5rem;
                height: 2rem;
            }
            @media (max-width:$r_mob_500) {
                width: 6.9rem;
                height: 1.85rem;
            }
            @media (max-width:$r_mob_400) {
                width: 6.3rem;
                height: 1.7rem;;
            }
        }
    }
}
.contact {
    padding-top: 7.5rem;
    padding-bottom: 16rem;
    @media (max-width:$r_desk_900) {
        padding-bottom: 12rem;
    }
    @media (max-width:$r_tab) {
        padding-bottom: 8rem;
    }
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:$r_desk_hd) {
            gap: 3rem;
        }
        @media (max-width: $r_tab) {
            flex-wrap: wrap;
        }
        @media (max-width: $r_tab) {
            flex-wrap: wrap;
        }
        &__content {
            padding-top: 1rem;
            @media (max-width: $r_tab) {
                flex: 1 1 auto;
            }
        }
        &__text {
            max-width: 38rem;
            margin-top: 6.5rem;
            margin-left: 12rem;
            @media (max-width:$r_desk) {
                margin-left: 6rem;
            }
            @media (max-width:$r_desk_900) {
                margin-left: 0;
                margin-top: 4rem;
            }
            @media (max-width: $r_tab) {
                max-width: 100%;
                margin: 3rem auto;
            }
        }
        &__description {
            text-align: left;
            @media (max-width:$r_desk_900) {
                flex-basis: 50%;
                text-align: center;
            }
        }
        &__form {
            flex-basis: 59rem;
            @media (max-width:$r_desk_hd) {
                flex-basis: 45%;
            }
            @media (max-width:$r_tab) {
                flex: 1 1 auto;
            }
        } 
        &__list {
            list-style: none;
            margin-top: 6rem;
            font-size: 2.4rem;
            padding-left: 0;
            @media (max-width:$r_desk_900) {
                margin-top: 4rem;
            }
            @media (max-width: $r_tab) {
                margin-top: 3rem;  
                display: flex;
                justify-content: space-between;
            }
            &__item {
                margin-top: 1rem;
            }
        }
        &__link {
            text-decoration: none;
            color: $green;
            font-weight: 500;
            display: flex;
            justify-content: start;
            gap: 3.3rem;
            align-items: center;
            @media (max-width: $r_desk_1280) {
                font-size: 2.2rem;
            }
            @media (max-width: $r_desk_1100) {
                font-size: 2rem;
            }
            @media (max-width:$r_tab) {
                font-size: 1.8rem;
                gap: 2rem;
            }
            @media (max-width:$r_mob_600) {
                font-size: 1.5rem;
            }
            @media (max-width:$r_mob_500) {
                font-size: 1.2rem;
                gap: 1rem;
            }
            &::before {
                content: '';
                display: inline-block;
                width: 2.9rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                -webkit-animation: shake 1s linear infinite alternate;
                        animation: shake 1s linear infinite alternate;
                @media (max-width:$r_tab) {
                    width: 2.8rem;
                }
                @media (max-width:$r_mob_600) {
                    width: 2.1rem;
                }
                @media (max-width:$r_mob_500) {
                    width: 1.8rem;
                }
            }
            &_phone {
                margin-bottom: 2rem;
                transition: .2s ease;
                color: $green;
                &:hover {
                    color: $orange;
                }
                &::before {
                    height: 2.5rem;
                    background-image: url(../images/phone.png);
                    @media (max-width:$r_tab) {
                        height: 2.4rem;
                    }
                    @media (max-width:$r_mob_600) {
                        height: 1.9rem;
                    }
                    @media (max-width:$r_mob_500) {
                        height: 1.6rem;
                    }
                }
            }
            &_mail {
                color: $green;
                transition: .2s ease;
                &:hover {
                    color: $orange;
                }
                &::before {
                    height: 1.9rem;
                    background-image: url(../images/mail.png);
                    @media (max-width:$r_mob_600) {
                        height: 1.4rem;
                    }
                    @media (max-width:$r_mob_500) {
                        height: 1.2rem;
                    }
                }
            }
        }
        
    }
}
.card {
    border: 2px solid rgba($green, .4);
    border-radius: 20px;
    padding: 3.4rem 5.9rem 4rem;
    @media (max-width: $r_desk_1100) {
        padding: 2.5rem 4rem;
    }
    @media (max-width: $r_tab) {
        padding: 2.5rem 1.5rem;
    }
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem; 
        font-weight: 700;
        margin: 0;
        @media (max-width: $r_desk_1280) {
            font-size: 2.7rem;
        }
        @media (max-width: $r_desk_1100) {
            font-size: 2.3rem;
        }
        @media (max-width:$r_tab) {
            font-size: 1.9rem;
            text-align: center;
        }
        @media (max-width:$r_mob_600) {
            font-size: 1.6rem;
        }
        @media (max-width:$r_mob_500) {
            font-size: 1.4rem;
            margin-top: 0.5rem; 
        }
    }
    &__label {
        display: block;
        font-size: 1.2rem;
        margin: 3rem .6rem .8rem;
    }
    &__input {
        display: block;
        width: 100%;
        padding: 2.3rem 3rem;
        border: 1px solid rgba($green, .4);
        border-radius: 20px;
        margin-bottom: 2rem;
        box-sizing: border-box;
        outline: none;
        &:focus {
            border: 1px solid $green;
        }
    }
    &__link {
        margin-top: 2rem;
        padding: 2.3rem 4.8rem;
        @media (max-width: $r_desk_900) {
            width: 100%;
            padding: 2rem 0;
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        max-width: 36rem;
        margin-top: 1.8rem;
        margin-bottom: 0;
        line-height: 1.4;
        @media (max-width:$r_tab) {
            font-size: 1rem;
        }
    }
    &__docs {
        text-decoration: none;
        color: rgba($green, .6);
        border-bottom: 1px solid #dfe0db;
    }
}
footer {
    padding-top: 9rem;
    border-top: 1px solid #d4d6cf;
    @media (max-width: $r_tab) {
        padding-top: 7rem;
    }
    @media (max-width: $r_mob_500) {
        padding-top: 4rem;
    }
}
.footer {
    background-image: url(../images/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 8.5rem;
    &__box {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        @media (max-width: $r_tab) {
            flex-wrap: wrap;
        }
        @media (max-width:$r_mob_400) {
            justify-content: center;
        }
    }
    &__logo {
        flex-basis: 21.3%;
        @media (max-width: $r_desk) {
            display: none;
        }
        @media (max-width: $r_mob_400) {
            display: block;
        }
    }
    &__list {
        list-style: none;
        padding-left: 0;
        margin: 0;
        font-size: 1.8rem;

    }
    &__item {
        padding-bottom: 3rem;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_desk_1100) {
            font-size: 2rem;
        }
        @media (max-width:$r_tab) {
            font-size: 1.8rem;
        }
        @media (max-width:$r_mob_600) {
            font-size: 1.5rem;
        }
        @media (max-width:$r_mob_500) {
            font-size: 1.2rem;  
        }
        @media (max-width:$r_mob_400) {
            text-align: center;
            padding-bottom: 2.5rem;
        }
    }
    &__nav  {
        @media (max-width:$r_mob_400) {
            display: flex;
            justify-content: space-between;
            flex-basis: 100%;
            padding-bottom: 0;
            &__item {
                padding-bottom: 0;
            }
        }
    }
    &__link {
        color: $green;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        display: block;
        font-size: 2.7rem;
        color: $green;
        text-decoration: none;
        padding-bottom: 3.2rem;
        transition: .2s ease;
        @media (max-width:$r_tab) {
            font-size: 3rem;
        }
        &:hover {
            color: $orange;
        }
    }
    &__mail {
        display: block;
        font-size: 1.8rem;
        color: $green;
        text-decoration: none;
        transition: .2s ease;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_desk_1100) {
            font-size: 2rem;
        }
        @media (max-width:$r_tab) {
            font-size: 1.8rem;
            flex-basis: 251px;
        }
        @media (max-width:$r_mob_600) {
            font-size: 1.5rem;
            flex-basis: auto;
        }
        @media (max-width:$r_mob_500) {
            font-size: 1.2rem;
        }
        &:hover {
            color: $orange;
        }
    }
    &__contact {
        @media (max-width:$r_tab) {
            display: flex;
            flex: 1 1 auto;
            gap: 5%;
            flex-wrap: wrap;
            justify-content: space-between;
            @media (max-width: $r_mob_600) {
               flex-direction: column;
               align-items: center;
            }
        }
    }
    &__text {
        display: flex;
        justify-content: space-between;
        color: rgba($green, .6);
        letter-spacing: .08rem;
        @media (max-width:$r_tab) {
            font-size: 1.2rem;
        }
        @media (max-width:$r_mob_600) {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }
        @media (max-width:$r_mob_500) {
            font-size: 1rem;
            letter-spacing: 0;
        }
    }
    &__author {
        &:hover {
            .footer__author__link {
                color: $green;
            }
        }
        &__link {
            text-decoration: none;
            color: rgba($green, .6);
        }
    }
}
.footer-social {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 2.8rem;
    margin-bottom: 4.2rem;
    &__item {
        display: block;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
    &__link {
        box-sizing: border-box;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 100%;
		border: 2px solid $green;
		color: $green;
		width: 50px;
		height: 50px;
		transition: 0.2s ease-in;
		display: block;		
    }
    &__vk {
        background-size: 23px auto;
        background-image: url(../images/vk.svg);
    }
    &__inst {
        background-size: 23px auto;
        background-image: url(../images/inst.svg);
    }
    &__fb {
        background-size: 23px auto;
        background-image: url(../images/fb.svg);
    }
}



@-webkit-keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
    50% {
        box-shadow: 20px 20px 35px 0 rgba($green, .5);
    }
    0% {
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
}



@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
    50% {
        box-shadow: 20px 20px 35px 0 rgba($green, .5);
    }
    0% {
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
}
@-webkit-keyframes pulse {
    0% {
        transform: scale(1);
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@-webkit-keyframes shake {
    0% {
        transform: rotate(0);
    }
    25%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
@keyframes shake {
    0% {
        transform: rotate(0);
    }
    25%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}